@model WebApp.ViewModels.EmployeesViewModel
@{
	ViewData["Title"] = "Сотрудники";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Сотрудники</h2>

@using (Html.BeginForm("Index", "Employees", FormMethod.Post))
{
	<fieldset>
		Фамилия: @Html.TextBox("searchSurname", "")
		Должность: @Html.TextBox("searchPosition", "")
		<input type="submit" value="Найти" />
	</fieldset>
}

<table class="table">
	<thead>
		<tr>
			<th>
				<a asp-action="Index" asp-route-sortOrder="@ViewBag.Surname">
					Фамилия
				</a>
			</th>
			<th>
				Имя
			</th>
			<th>
				Отчество
			</th>
			<th>
				Опыт
			</th>
			<th>
				Должность
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Employees)
		{
			<tr>
				<td>@item.Surname</td>
				<td>@item.Name</td>
				<td>@item.Patronymic</td>
				<td>@item.Experience</td>
				<td>@item.PositionName</td>
			</tr>
		}
	</tbody>
</table>