@model IEnumerable<WebApp.Models.Storage>

@{
    ViewData["Title"] = "Склады";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Складские помещения</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Square)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupancy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depreciation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StorageType.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Square)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occupancy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depreciation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorageType.Name)
            </td>
        </tr>
}
    </tbody>
</table>
